
<!doctype html>
<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="padding: 10vw">
        <h3>RNN with GRU </h3>
        <h6><span class="badge badge-secondary">After 1hr training (on my laptop)</span></h6>
        
        <form method="POST" action="/predict">
            <div class="form-group">
                <label for="temp">Generation Temperature: </label>
                <output name="temperature" id="tempInput">0.2</output> <br>
                <input type="range" min="0.01" max="1" value="0.2" step="0.01" class="form-control-range" name="temp" id="temp" oninput="tempInput.value = temp.value">
            </div>
            <div class="form-group">
                <label for="beerstyle">Beer style:</label>
                <select name="beerstyle" id="beerstyle" class="form-control">
                    {% for name, val in styles.items() %}
                    <option value= "{{val}}" SELECTED>{{name}}</option>"
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="rate">Rating: </label>
                <output name="rating" id="rateInput">3</output> <br>
                <input type="range" min="1" max="5" value="3" step="1" class="form-control-range" name="rateInput" id="rate" oninput="rating.value = rate.value">
            </div>
            <input type="submit" value="Generate" class="btn btn-primary btn-lg" data-loading-text="loading..." onclick="visible()">
        </form>
        <br>
        <div class="spinner-grow text-info" id="load" role="status" style="width: 5rem; height: 5rem; display: none">
            <span class="sr-only">Loading...</span>
        </div>
        <p class="text-justify">{{ prediction }}</p>

        <br>
        <a href="./paper.pdf">Read the paper.</a>

        <script>
            function visible(obj) {
                var el = document.getElementById("load");
                el.style.display = 'block';
            }
        </script>
    </body>
</html>
